.ulp-overlay {
	position: fixed;
	z-index: 1000000;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	display: none;
}
.ulp-window {
	font-size: 14px;
	font-family: arial, verdana;
	position: fixed;
	z-index: 1000001;
	text-align: left;
	display: none;
}
.ulp-inline-window {
	font-size: 14px;
	font-family: arial, verdana;
	text-align: left;
	display: none;
}
.ulp-content {
	position: relative;
}
.ulp-layer {
	position: absolute;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	text-align: justify;
	line-height: 1.475;
}
.ulp-layer img {
	max-width: 100% !important;
	min-width: 0px !important;
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-ms-box-shadow: none !important;
	-o-box-shadow: none !important;
}
.ulp-input {
	-moz-border-radius: 2px !important;
	-webkit-border-radius: 2px !important;
	-o-border-radius: 2px !important;
	-ms-border-radius: 2px !important;
	-khtml-border-radius: 2px !important;
	border-radius: 2px !important;
	vertical-align: middle !important;
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #888;
	border-spacing: 0 !important;
	clear: both !important;	
	width: 100% !important;
	margin: 0px !important;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	box-sizing: border-box !important;
	height: 100% !important;
	background: #FFFFFF;
	margin: 0 !important;
	padding: 0px 6px !important;
	line-height: 1.5 !important;
	background: rgba(255,255,255,0.8);
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-o-box-shadow: none !important;
	-ms-box-shadow: none !important;
	box-shadow: none !important;
	font-size: inherit !important;
}
.ulp-input-error {
	background-image: url(../images/error.png);
	background-position: 100% 50%;
	background-repeat: no-repeat;
	border-color: red !important;
}
.ulp-submit, .ulp-submit:visited, .ulp-submit-button, .ulp-submit-button:visited {
	text-decoration: none !important;
	font-size: inherit !important;
	text-shadow: 0 -1px 1px rgba(0,0,0,.25);
	background-color: #019ad2;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(#33bcef,#019ad2);
	background-image: -ms-linear-gradient(#33bcef,#019ad2);
	background-image: -webkit-linear-gradient(#33bcef,#019ad2);
	background-image: -o-linear-gradient(#33bcef,#019ad2);
	background-image: linear-gradient(#33bcef,#019ad2);
	transition-duration: .3s;
	-moz-transition-duration: .3s;
	-webkit-transition-duration: .3s;
	-o-transition-duration: .3s;
	-khtml-transition-duration: .3s;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bcef',endColorstr='#019ad2',GradientType=0);
	border: 1px solid #019ad2;
	width: auto;
	white-space: nowrap;
	height: auto;
	position: relative;
	display: inline-block;
	padding: 5px 20px;
	line-height: 1.5;
	cursor: pointer;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	margin: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}
.ulp-window a {
	text-decoration: none !important;
}
.ulp-submit:hover, .ulp-submit:active, .ulp-submit-button:hover, .ulp-submit-button:active {
	background-color:#0271bf;
	background-repeat:repeat-x;
	background-image:-moz-linear-gradient(#2daddc,#0271bf);
	background-image:-ms-linear-gradient(#2daddc,#0271bf);
	background-image:-webkit-linear-gradient(#2daddc,#0271bf);
	background-image:-o-linear-gradient(#2daddc,#0271bf);
	background-image:linear-gradient(#2daddc,#0271bf);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2daddc',endColorstr='#0271bf',GradientType=0);
	border: 1px solid #019ad2;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}

.ulp-buynow-blue, .ulp-buynow-blue:visited {
	background-color: #019ad2;
	background-repeat: repeat-x;
	background-image: linear-gradient(#33bcef,#019ad2);
	transition-duration: .3s;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bcef',endColorstr='#019ad2',GradientType=0);
	border: 1px solid #019ad2;
	width: auto;
	white-space: nowrap;
	height: auto;
	display: inline-block;
	padding: 5px 20px;
	border-radius: 5px;
	margin: 0;
	box-shadow: none;
}
.ulp-buynow-blue:hover, .ulp-buynow-blue:active {
	background-color: #0271bf;
	background-repeat: repeat-x;
	background-image: linear-gradient(#2daddc,#0271bf);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2daddc',endColorstr='#0271bf',GradientType=0);
	box-shadow: none;
}
.ulp-fa-input-table {
	position: absolute; 
	top: 0; 
	left: 0; 
	vertical-align: middle;
	height: 100%;
	line-height: 100%;
	display: table;
}
.ulp-fa-input-cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	opacity: 0.7;
}
.ulp-social-button  {
	overflow:hidden;
	display:inline-block;
	vertical-align:top;
}
.ulp-social-button-google-plusone {padding-top: 2px;}
.ulp-social-button-facebook-like {padding-top: 1px;}
.ulp-loader {
    background:#ffffff url(../images/spinner.gif) center center no-repeat;
	opacity: 0.5;
    height: 60px;
    z-index: 1000001;
    left: 50%;
    margin: -50px 0 0 -50px;
	position: fixed;
    top: 50%;
    width: 60px;
	box-shadow:0 0 8px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
}
.ulp-inherited {
	display: block !important;
	height: 100% !important; 
	box-sizing: border-box !important;
}
.ulp-inherited:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	padding-top: 3px;
}
.ulp-link-button, .ulp-link-button:hover, .ulp-link-button:active, .ulp-link-button:focus, .ulp-link-button:visited {
	text-shadow: 0px -1px 0px rgba(0,0,0,0.2) !important;
	text-decoration: none !important;
	display: block !important;
	height: 100% !important; 
	box-sizing: border-box !important;
	border-radius: 5px !important;
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), inset 0px 0px 3px rgba(255,255,255,0.5),0 1px 1px rgba(0, 0, 0, 0.3) !important;
	transition-duration: .5s !important;
	-moz-transition-duration: .5s !important;
	-webkit-transition-duration: .5s !important;
	-o-transition-duration: .5s !important;
	-ms-transition-duration: .5s !important;
}
.ulp-link-button:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	padding-top: 3px;
}
.ulp-link-button-red, .ulp-link-button-red:visited {
	border: 1px solid #B20000;
	background-color: rgb(255,48,25);
	background-image: -moz-linear-gradient(top, rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%);
	background-image: -webkit-linear-gradient(top, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
	background-image: -o-linear-gradient(top, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
	background-image: -ms-linear-gradient(top, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
	background-image: linear-gradient(to bottom, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
}
.ulp-link-button-green, .ulp-link-button-green:visited {
	border: 1px solid #307818;
	background-color: rgb(72,180,36);
	background-image: linear-gradient(to bottom, rgba(72,180,36,1) 0%,rgba(48,120,24,1) 100%);
	background-image: -moz-linear-gradient(top, rgba(72,180,36,1) 0%, rgba(48,120,24,1) 100%);
	background-image: -webkit-linear-gradient(top, rgba(72,180,36,1) 0%,rgba(48,120,24,1) 100%);
	background-image: -o-linear-gradient(top, rgba(72,180,36,1) 0%,rgba(48,120,24,1) 100%);
	background-image: -ms-linear-gradient(top, rgba(72,180,36,1) 0%,rgba(48,120,24,1) 100%);
}
.ulp-link-button-blue, .ulp-link-button-blue:visited {
	border: 1px solid #306090;
	background-color: rgb(40,80,200);
	background-image: linear-gradient(to bottom, rgba(40,80,200,1) 0%,rgba(30,47,144,1) 100%);
	background-image: -moz-linear-gradient(top, rgba(40,80,200,1) 0%, rgba(30,47,144,1) 100%);
	background-image: -webkit-linear-gradient(top, rgba(40,80,200,1) 0%,rgba(30,47,144,1) 100%);
	background-image: -o-linear-gradient(top, rgba(40,80,200,1) 0%,rgba(30,47,144,1) 100%);
	background-image: -ms-linear-gradient(top, rgba(40,80,200,1) 0%,rgba(30,47,144,1) 100%);
}
.ulp-link-button-yellow, .ulp-link-button-yellow:visited {
	border: 1px solid #E5A904;
	background-color: rgb(255,210,90);
	background-image: linear-gradient(to bottom, rgba(255,210,90,1) 0%,rgba(255,190,0,1) 100%);
	background-image: -moz-linear-gradient(top, rgba(255,210,90,1) 0%, rgba(255,190,0,1) 100%);
	background-image: -webkit-linear-gradient(top, rgba(255,210,90,1) 0%,rgba(255,190,0,1) 100%);
	background-image: -o-linear-gradient(top, rgba(255,210,90,1) 0%,rgba(255,190,0,1) 100%);
	background-image: -ms-linear-gradient(top, rgba(255,210,90,1) 0%,rgba(255,190,0,1) 100%);
}
.ulp-link-button-orange, .ulp-link-button-orange:visited {
	border: 1px solid #E56E0D;
	background-color: rgb(255,170,78);
	background-image: linear-gradient(to bottom, rgba(255,170,78,1) 0%,rgba(255,120,10,1) 100%);
	background-image: -moz-linear-gradient(top, rgba(255,170,78,1) 0%, rgba(255,120,10,1) 100%);
	background-image: -webkit-linear-gradient(top, rgba(255,170,78,1) 0%,rgba(255,120,10,1) 100%);
	background-image: -o-linear-gradient(top, rgba(255,170,78,1) 0%,rgba(255,120,10,1) 100%);
	background-image: -ms-linear-gradient(top, rgba(255,170,78,1) 0%,rgba(255,120,10,1) 100%);
}
.ulp-link-button-pink, .ulp-link-button-pink:visited {
	border: 1px solid #CC026A;
	background-color: rgb(255,90,170);
	background-image: linear-gradient(to bottom, rgba(255,90,170,1) 0%,rgba(240,0,120,1) 100%);
	background-image: -moz-linear-gradient(top, rgba(255,90,170,1) 0%, rgba(240,0,120,1) 100%);
	background-image: -webkit-linear-gradient(top, rgba(255,90,170,1) 0%,rgba(240,0,120,1) 100%);
	background-image: -o-linear-gradient(top, rgba(255,90,170,1) 0%,rgba(240,0,120,1) 100%);
	background-image: -ms-linear-gradient(top, rgba(255,90,170,1) 0%,rgba(240,0,120,1) 100%);
}
.ulp-link-button-black, .ulp-link-button-black:visited {
	border: 1px solid #000000;
	background-color: rgb(72,72,72);
	background-image: -moz-linear-gradient(top, rgba(72,72,72,1) 0%, rgba(10,10,10,1) 100%);
	background-image: -webkit-linear-gradient(top, rgba(72,72,72,1) 0%,rgba(10,10,10,1) 100%);
	background-image: -o-linear-gradient(top, rgba(72,72,72,1) 0%,rgba(10,10,10,1) 100%);
	background-image: -ms-linear-gradient(top, rgba(72,72,72,1) 0%,rgba(10,10,10,1) 100%);
	background-image: linear-gradient(to bottom, rgba(72,72,72,1) 0%,rgba(10,10,10,1) 100%);
}
.ulp-link-button-red:hover, .ulp-link-button-red:focus, .ulp-link-button-red:active,
.ulp-link-button-green:hover, .ulp-link-button-green:focus, .ulp-link-button-green:active,
.ulp-link-button-blue:hover, .ulp-link-button-blue:focus, .ulp-link-button-blue:active,
.ulp-link-button-yellow:hover, .ulp-link-button-yellow:focus, .ulp-link-button-yellow:active,
.ulp-link-button-pink:hover, .ulp-link-button-pink:focus, .ulp-link-button-pink:active,
.ulp-link-button-black:hover, .ulp-link-button-black:focus, .ulp-link-button-black:active,
.ulp-link-button-orange:hover, .ulp-link-button-orange:focus, .ulp-link-button-orange:active {
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.01) 0%,rgba(255,255,255,0.01) 100%);
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 100%);
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.01) 0%,rgba(255,255,255,0.01) 100%);
	background-image: -o-linear-gradient(top, rgba(255,255,255,0.01) 0%,rgba(255,255,255,0.01) 100%);
	background-image: -ms-linear-gradient(top, rgba(255,255,255,0.01) 0%,rgba(255,255,255,0.01) 100%);
}